# Testing notebook for scraping data 
This notebook will include test scripts to scrape the necessary data from various web sources.

## Scrape Bechdel test of movies
Scrape data from http://bechdeltest.com/ using its given API. Note that according to the owner, we should avoid calling the `getAllMovies` module frequently due to a shared hosting plan. Due to this, I ran the get requests once and saved the copy as a csv file.

In [1]:
import io
import re
import time
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

main_dir = "/home/jdtganding/Documents/bechdel-movies-project/data"

# html = requests.get('http://bechdeltest.com/api/v1/getAllMovies').content
# df = pd.read_json(io.StringIO(html.decode('utf-8')))
# df.to_csv(bechdel_movies, index=None)

bechdel_movies_df = pd.read_csv(f"{main_dir}/BechdelTestMovieList.csv")
# bechdel_movies_df['imdbid'] = bechdel_movies_df['imdbid'].astype(int)
bechdel_movies_df.sample(10)

FileNotFoundError: [Errno 2] No such file or directory: '/home/jdtganding/Documents/bechdel-movies-project/data/BechdelTestMovieList.csv'

In [10]:
bechdel_movies_df[bechdel_movies_df['imdbid'].isnull()]

      rating  imdbid     id                  title  year
8604       3     NaN  10131                  Moana  2016
9152       1     NaN  10659  No me digas solterona  2018
9153       1     NaN  10661               Oceans 8  2018
9393       3     NaN  10029            Decedants 3  2019
9699       3     NaN  10231             Wrong Turn  2021

In [6]:
bechdel_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9908 entries, 0 to 9907
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rating  9908 non-null   int64
 1   imdbid  9903 non-null   float64
 2   id      9908 non-null   int64
 3   title   9908 non-null   object
 4   year    9908 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 387.2+ KB

In [37]:
bechdel_movies_df[bechdel_movies_df.year < 1927]

     rating      imdbid    id                             title  year
0         0   3155794.0  9602                  Passage de Venus  1874
1         0  14495706.0  9804                 La Rosace Magique  1877
2         0   2221420.0  9603        Sallie Gardner at a Gallop  1878
3         0  12592084.0  9806                 Le singe musicien  1878
4         0   7816420.0  9816           Athlete Swinging a Pick  1881
..      ...         ...   ...                               ...   ...
198       1     16884.0  1260               Flesh and the Devil  1926
199       0     17925.0  1310                      General, The  1926
200       0     16895.0  1966             For Heaven&#39;s Sake  1926
201       3     17410.0  3217             So&#39;s Your Old Man  1926
202       1     15532.0  5974  Die Abenteuer des Prinzen Achmed  1926

[203 rows x 5 columns]

## Scrape Oscars movie nominees and winners
The Academy Awards has their own database found on https://awardsdatabase.oscars.org/. I scraped the whole database from the 1st Academy Awards up to the latest using `selenium` and saved the page source as a variable that can be read using `BeautifulSoup`.

In [95]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

options = webdriver.FirefoxOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
options.add_argument('--headless')

driver = webdriver.Firefox(options=options)
driver.get("https://awardsdatabase.oscars.org/") 

#select award categories
driver.find_element(By.XPATH,"//button[contains(@class,'awards-basicsrch-awardcategory')]").click()
driver.find_element(By.XPATH,"//b[contains(text(),'Current Categories')]").click()

#select starting award year
driver.find_element(By.XPATH,"//button[contains(@class,'awards-advsrch-yearsfrom')]").click()
driver.find_element(By.XPATH,"//div[@class='btn-group multiselect-btn-group open']//input[@value='1']").click()

#select ending award year
driver.find_element(By.XPATH,"//button[contains(@class,'awards-advsrch-yearsto')]").click()
year_latest = len(driver.find_elements(By.XPATH,"//div[@class='btn-group multiselect-btn-group open']//li"))-2
driver.find_element(By.XPATH,f"//div[@class='btn-group multiselect-btn-group open']//input[@value='{year_latest}']").click()

#search to view results
# driver.find_element(By.XPATH,'//*[@id="btnbasicsearch"]').click()

#wait for all results to show
# time.sleep(60)

try:
    #resultscontainer will contain all our needed Oscars data
    driver.find_element(By.XPATH, '//*[@id="resultscontainer"]')

except NoSuchElementException as error:
    print(error)
    print(f"Needed element still not found after 60 seconds delay")

#get html source for BeautifulSoup extraction
page_source = driver.page_source

#close driver
driver.close()
print("Driver closed")

Message: Unable to locate element: //*[@id="resultscontainer"]
Stacktrace:
WebDriverError@chrome://remote/content/shared/webdriver/Errors.jsm:186:5
NoSuchElementError@chrome://remote/content/shared/webdriver/Errors.jsm:398:5
element.find/</<@chrome://remote/content/marionette/element.js:300:16

Needed element still not found after 60 seconds delay
Driver closed

### Transform json into structured format such as csv
First, we will use BeautifulSoup to extract elements and clean the page source. Then we would want the following structure for our dataframe:
```python
df_structure = {
    "AwardYear":[],
    "AwardCeremonyNum":[],
    "Movie":[],
    "AwardCategory":[],
    "AwardStatus":[]
}
```

- `AwardYear`: the year the award was received
- `AwardCeremonyNum`: the nth annual ceremony award
- `Movie`: the title of the nominated film
- `AwardCategory`: the category the film was nominated for
- `AwardStatus`: whether the film was only nominated or had won

In [27]:
# soup = BeautifulSoup(page_source, "lxml")
# results_container = soup.find('div', {'id':'resultscontainer'})

# with open (f"{main_dir}/OscarsResultsContainerHTML.txt", "w") as file:
#     file.write(str(results_container))

In [2]:
results_container = open(f"{main_dir}/OscarsResultsContainerHTML.txt", "r")
results_container = BeautifulSoup(results_container, 'lxml')

award_year_all = results_container.find_all('div',class_='awards-result-chron result-group group-awardcategory-chron')

In [90]:
oscars_results = []

for award_year_group in award_year_all:

    df_structure = {
        "AwardYear":'',
        "AwardCeremonyNum":'',
        "Movie":[],
        "AwardCategory":[],
        "AwardStatus": []
    }

    #find the award year title
    award_year = award_year_group.find('div',class_='result-group-title')\
                                 .get_text(strip=True)

    #separate award year title to extract year
    key_split = award_year.split(" ")
    df_structure['AwardYear'] = key_split[0]
    df_structure['AwardCeremonyNum'] = re.findall(r'\d+',key_split[1])[0]
    
    #award category result subgroup (each contains award title and nominees)
    award_category_all = award_year_group.find_all('div',class_='result-subgroup subgroup-awardcategory-chron')

    for award_category_group in award_category_all:

        #find award title
        award_title = award_category_group.find('div',class_='result-subgroup-title')\
                                          .get_text(strip=True)
        
        try:
            #find nominated movies
            movies = [movie.get_text(strip=True) for movie in award_category_group\
                           .find_all('div', class_='awards-result-film-title')]

            #remove duplicates
            movies = list(set(movies)) 

            #find winning movie
            winner_group = award_category_group.find('span', {'title':'Winner'})\
                                               .find_next_sibling('div')

            winners = [movie.get_text(strip=True) for movie in winner_group\
                            .find_all('div', class_='awards-result-film-title')]

            #update df_structure movie and category lists
            count = len(movies)
            if count > 0:
                df_structure['Movie'].extend(movies)
                df_structure['AwardCategory'].extend(list(np.repeat([award_title],count)))

                #add winner/s
                categ_list = list(np.repeat(['nominated'],count))
                for winner in winners:
                    categ_list[movies.index(winner)] = 'won'

                df_structure['AwardStatus'].extend(categ_list)
      
        except AttributeError:
            pass

    #append dataframe to list
    oscars_results.append(pd.DataFrame(df_structure))

#concatenate all award year dataframe into one    
oscars_results_final = pd.concat(oscars_results).reset_index(drop=True)

#save data as a csv file
oscars_results_final.to_csv(f"{main_dir}/OscarsFullResults.csv", index=False)

## Collecting IMDB datasets

In [2]:
imdb_titles = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', 
                          chunksize=500_000,
                          iterator=True,
                          sep='\t',
                          header=0)

In [3]:
count = 0
while True:
    count += 1
    imdb_titles_iter = next(imdb_titles)
    imdb_titles_iter.to_csv(f"{main_dir}/imdb_title_part{count}.csv", index=False)

/tmp/ipykernel_3598/2026852352.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  imdb_titles_iter = next(imdb_titles)

StopIteration:

In [7]:
imdb_titles_iter['tconst'].str.replace('tt','').astype(int)

9500000    9393684
9500001    9393686
9500002    9393688
9500003    9393690
9500004    9393692
            ...
9742689    9916848
9742690    9916850
9742691    9916852
9742692    9916856
9742693    9916880
Name: tconst, Length: 242694, dtype: int64

In [24]:
agg = imdb_titles.groupby('startYear')\
                 .agg({'startYear':'count'})\
                 .rename(columns={'startYear':'count'})\
                 .reset_index()
agg = agg[~agg.startYear.str.contains('N')]

In [55]:
agg[(agg.startYear > '1873')&(agg.startYear < '2024')]

    startYear   count
0        1874       1
1        1877       4
2        1878       3
3        1881       2
4        1882       2
..        ...     ...
140      2019  421086
141      2020  396868
142      2021  450984
143      2022  393100
144      2023   76054

[145 rows x 2 columns]

## Using tmdb API to collect data

In [6]:
from configparser import ConfigParser

config = ConfigParser()
config.read('/home/jdtganding/Documents/bechdel-movies-project/api_keys.cfg')

API_KEY = config.get('tmdb', 'api_key')

In [50]:
total_movies = 0
for year in range(1874,2023):
    api = f'https://api.themoviedb.org/3/discover/movie?api_key={API_KEY}&primary_release_year={year}'
    response = requests.get(api)
    movies = response.json()
    total_movies += movies['total_results']

print(f"Total movies to scrape: {total_movies}")

Total movies to scrape: 679397

In [58]:
response = requests.get(f'https://api.themoviedb.org/3/discover/movie?api_key={API_KEY}&primary_release_year=2021&page=10')
movies_json = response.json()

movies_json['results'][0]

{'adult': False,
 'backdrop_path': '/byfW3SL4xExI3DDXxTpfFJiXn7P.jpg',
 'genre_ids': [18],
 'id': 853361,
 'original_language': 'da',
 'original_title': 'Du som er i himlen',
 'overview': 'One day at the end of the 1800s, 14-year-old Lise’s life is changed forever. She is the eldest of her siblings, the first in her family to go to school and full of hope and confidence in life. But when her mother goes into labour, it quickly appears that something is wrong. As night falls and the labour progresses, Lise begins to understand that a day that began in childhood might end with her becoming the woman of the house.',
 'popularity': 29.699,
 'poster_path': '/vbypiQf40ReopnfbW9eFKJmboA0.jpg',
 'release_date': '2021-09-19',
 'title': 'As in Heaven',
 'video': False,
 'vote_average': 6.5,
 'vote_count': 21}

In [12]:
movie_id = 853361
url = f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={API_KEY}&append_to_response=credits&page=5'
response = requests.get(url)
movies = response.json()
movies

{'adult': False,
 'backdrop_path': '/byfW3SL4xExI3DDXxTpfFJiXn7P.jpg',
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [{'id': 18, 'name': 'Drama'}],
 'homepage': '',
 'id': 853361,
 'imdb_id': 'tt13269616',
 'original_language': 'da',
 'original_title': 'Du som er i himlen',
 'overview': 'One day at the end of the 1800s, 14-year-old Lise’s life is changed forever. She is the eldest of her siblings, the first in her family to go to school and full of hope and confidence in life. But when her mother goes into labour, it quickly appears that something is wrong. As night falls and the labour progresses, Lise begins to understand that a day that began in childhood might end with her becoming the woman of the house.',
 'popularity': 33.618,
 'poster_path': '/vbypiQf40ReopnfbW9eFKJmboA0.jpg',
 'production_companies': [{'id': 174380,
   'logo_path': None,
   'name': 'Motor ApS',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'DK', 'name': 'Denmark'}],
 'release_date': '2021-09-19',
 'revenue': 0,
 'runtime': 85,
 'spoken_languages': [{'english_name': 'Danish',
   'iso_639_1': 'da',
   'name': 'Dansk'}],
 'status': 'Released',
 'tagline': '',
 'title': 'As in Heaven',
 'video': False,
 'vote_average': 6.524,
 'vote_count': 21,
 'credits': {'cast': [{'adult': False,
    'gender': 1,
    'id': 1680371,
    'known_for_department': 'Acting',
    'name': 'Flora Ofelia Hofmann Lindahl',
    'original_name': 'Flora Ofelia Hofmann Lindahl',
    'popularity': 4.791,
    'profile_path': '/OKpULwYXm28QZzuc1xCea0nxV9.jpg',
    'cast_id': 5,
    'character': 'Lise',
    'credit_id': '60fa7d722afb25005fbfdbb2',
    'order': 0},
   {'adult': False,
    'gender': 0,
    'id': 1934698,
    'known_for_department': 'Acting',
    'name': 'Ida Cæcilie Rasmussen',
    'original_name': 'Ida Cæcilie Rasmussen',
    'popularity': 1.166,
    'profile_path': '/ysueLMso7hgVnwXeZ46l3XnUe7K.jpg',
    'cast_id': 14,
    'character': 'Mor Anna',
    'credit_id': '6150c5ba158c850061bb7d75',
    'order': 1},
   {'adult': False,
    'gender': 0,
    'id': 3399243,
    'known_for_department': 'Acting',
    'name': 'Palma Lindeburg Leth',
    'original_name': 'Palma Lindeburg Leth',
    'popularity': 1.38,
    'profile_path': None,
    'cast_id': 15,
    'character': '',
    'credit_id': '61f167ba3009aa00696e082e',
    'order': 2},
   {'adult': False,
    'gender': 0,
    'id': 3145698,
    'known_for_department': 'Acting',
    'name': 'Anna-Olivia Øster Coakley',
    'original_name': 'Anna-Olivia Øster Coakley',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 16,
    'character': '',
    'credit_id': '61f167c01ad93b00e9157dcf',
    'order': 3},
   {'adult': False,
    'gender': 0,
    'id': 2745612,
    'known_for_department': 'Acting',
    'name': 'Flora Augusta',
    'original_name': 'Flora Augusta',
    'popularity': 1.75,
    'profile_path': None,
    'cast_id': 17,
    'character': '',
    'credit_id': '61f167c6d11e0e00466c5317',
    'order': 4},
   {'adult': False,
    'gender': 1,
    'id': 88144,
    'known_for_department': 'Acting',
    'name': 'Kirsten Olesen',
    'original_name': 'Kirsten Olesen',
    'popularity': 1.657,
    'profile_path': '/oGGVax4nyA0xG4xmuCKwdZVqa7H.jpg',
    'cast_id': 18,
    'character': '',
    'credit_id': '61f167d015794a0044d06b48',
    'order': 5},
   {'adult': False,
    'gender': 1,
    'id': 74620,
    'known_for_department': 'Acting',
    'name': 'Lisbet Dahl',
    'original_name': 'Lisbet Dahl',
    'popularity': 1.827,
    'profile_path': '/s4UYLBJHBJS0u2PB376H8WTJhIT.jpg',
    'cast_id': 19,
    'character': '',
    'credit_id': '61f167d50284200094575d6a',
    'order': 6},
   {'adult': False,
    'gender': 1,
    'id': 32682,
    'known_for_department': 'Acting',
    'name': 'Stine Fischer Christensen',
    'original_name': 'Stine Fischer Christensen',
    'popularity': 3.223,
    'profile_path': '/6MYODCa28L1IzfhcYTUZUYThoF2.jpg',
    'cast_id': 20,
    'character': '',
    'credit_id': '61f167dfdf2945008e05eba5',
    'order': 7},
   {'adult': False,
    'gender': 2,
    'id': 20258,
    'known_for_department': 'Acting',
    'name': 'Thure Lindhardt',
    'original_name': 'Thure Lindhardt',
    'popularity': 6.771,
    'profile_path': '/lDkRe6dlQoiehjay8pEP2WLU4qG.jpg',
    'cast_id': 21,
    'character': '',
    'credit_id': '61f167e417792c00933ed617',
    'order': 8},
   {'adult': False,
    'gender': 2,
    'id': 1552847,
    'known_for_department': 'Acting',
    'name': 'Albert Rudbeck Lindhardt',
    'original_name': 'Albert Rudbeck Lindhardt',
    'popularity': 2.902,
    'profile_path': '/iEvh3kr3ZTfxjUdWvXCLPUUsx.jpg',
    'cast_id': 22,
    'character': '',
    'credit_id': '61f167ed3009aa001b9c6ba4',
    'order': 9},
   {'adult': False,
    'gender': 2,
    'id': 112733,
    'known_for_department': 'Acting',
    'name': 'Cyron Melville',
    'original_name': 'Cyron Melville',
    'popularity': 1.918,
    'profile_path': '/4W5KuRvzOlz0keGr4LfezzICz0B.jpg',
    'cast_id': 23,
    'character': '',
    'credit_id': '61f167f2d40d4c00a2df29a9',
    'order': 10},
   {'adult': False,
    'gender': 0,
    'id': 3527846,
    'known_for_department': 'Acting',
    'name': 'Emil Hornemann Juel',
    'original_name': 'Emil Hornemann Juel',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 24,
    'character': '',
    'credit_id': '626ae3b895acf00e1cc425c5',
    'order': 11},
   {'adult': False,
    'gender': 0,
    'id': 3527847,
    'known_for_department': 'Acting',
    'name': 'Alfred Røssel Læsø',
    'original_name': 'Alfred Røssel Læsø',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 25,
    'character': '',
    'credit_id': '626ae3cc532acb009c12ce99',
    'order': 12},
   {'adult': False,
    'gender': 0,
    'id': 2351282,
    'known_for_department': 'Acting',
    'name': 'Ingrid Thunbo Ilskov',
    'original_name': 'Ingrid Thunbo Ilskov',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 26,
    'character': '',
    'credit_id': '626ae3e1489d000068227293',
    'order': 13},
   {'adult': False,
    'gender': 0,
    'id': 3527848,
    'known_for_department': 'Acting',
    'name': 'Ida Hornemann Juel',
    'original_name': 'Ida Hornemann Juel',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 27,
    'character': '',
    'credit_id': '626ae3ee88c6590068e8094f',
    'order': 14},
   {'adult': False,
    'gender': 0,
    'id': 3527849,
    'known_for_department': 'Acting',
    'name': 'Villads Røygaard',
    'original_name': 'Villads Røygaard',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 28,
    'character': '',
    'credit_id': '626ae3fe88c659009d11d7dd',
    'order': 15},
   {'adult': False,
    'gender': 2,
    'id': 1563,
    'known_for_department': 'Acting',
    'name': 'Jesper Asholt',
    'original_name': 'Jesper Asholt',
    'popularity': 2.574,
    'profile_path': '/gh9nMf7pAfridjxOjdRzWFkyfpT.jpg',
    'cast_id': 29,
    'character': '',
    'credit_id': '626ae41441465c006543e7b4',
    'order': 16},
   {'adult': False,
    'gender': 1,
    'id': 234403,
    'known_for_department': 'Acting',
    'name': 'Hanne Hedelund',
    'original_name': 'Hanne Hedelund',
    'popularity': 1.788,
    'profile_path': None,
    'cast_id': 30,
    'character': '',
    'credit_id': '626ae4219b6e47006710a495',
    'order': 17},
   {'adult': False,
    'gender': 0,
    'id': 3527850,
    'known_for_department': 'Acting',
    'name': 'Kristine Wittenbjerg',
    'original_name': 'Kristine Wittenbjerg',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 31,
    'character': '',
    'credit_id': '626ae43b41465c00500f5bd6',
    'order': 18},
   {'adult': False,
    'gender': 0,
    'id': 2538475,
    'known_for_department': 'Acting',
    'name': 'Emma Rosenzweig',
    'original_name': 'Emma Rosenzweig',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 32,
    'character': '',
    'credit_id': '626ae450ec370c0d9a6929dc',
    'order': 19},
   {'adult': False,
    'gender': 0,
    'id': 1584491,
    'known_for_department': 'Acting',
    'name': 'Nanna Skaarup Voss',
    'original_name': 'Nanna Skaarup Voss',
    'popularity': 0.764,
    'profile_path': None,
    'cast_id': 33,
    'character': '',
    'credit_id': '626ae466cd2f0f0ebd5befe5',
    'order': 20},
   {'adult': False,
    'gender': 0,
    'id': 3527851,
    'known_for_department': 'Acting',
    'name': 'Helge Stockmar',
    'original_name': 'Helge Stockmar',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 34,
    'character': '',
    'credit_id': '626ae479394a870069fb78a0',
    'order': 21},
   {'adult': False,
    'gender': 0,
    'id': 3527852,
    'known_for_department': 'Acting',
    'name': 'William Tino Wiese',
    'original_name': 'William Tino Wiese',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 35,
    'character': '',
    'credit_id': '626ae4842d531a09c0408f25',
    'order': 22},
   {'adult': False,
    'gender': 0,
    'id': 3527853,
    'known_for_department': 'Acting',
    'name': 'William Ostenfeld Lindal',
    'original_name': 'William Ostenfeld Lindal',
    'popularity': 0.6,
    'profile_path': None,
    'cast_id': 36,
    'character': '',
    'credit_id': '626ae48e2d531a09bfd196c9',
    'order': 23},
   {'adult': False,
    'gender': 0,
    'id': 1353296,
    'known_for_department': 'Acting',
    'name': 'Sigurd Philip Dalgas',
    'original_name': 'Sigurd Philip Dalgas',
    'popularity': 0.766,
    'profile_path': None,
    'cast_id': 37,
    'character': '',
    'credit_id': '626ae49a489d00006822762c',
    'order': 24}],
  'crew': [{'adult': False,
    'gender': 2,
    'id': 179,
    'known_for_department': 'Camera',
    'name': 'Marcel Zyskind',
    'original_name': 'Marcel Zyskind',
    'popularity': 0.764,
    'profile_path': None,
    'credit_id': '60fa7d3bf1759c00466a47fd',
    'department': 'Camera',
    'job': 'Director of Photography'},
   {'adult': False,
    'gender': 2,
    'id': 179,
    'known_for_department': 'Camera',
    'name': 'Marcel Zyskind',
    'original_name': 'Marcel Zyskind',
    'popularity': 0.764,
    'profile_path': None,
    'credit_id': '61363945cede690043e9f88d',
    'department': 'Production',
    'job': 'Executive Producer'},
   {'adult': False,
    'gender': 2,
    'id': 1114056,
    'known_for_department': 'Writing',
    'name': 'Christian Torpe',
    'original_name': 'Christian Torpe',
    'popularity': 1.667,
    'profile_path': None,
    'credit_id': '613639206e0d72002a8bcf01',
    'department': 'Production',
    'job': 'Executive Producer'},
   {'adult': False,
    'gender': 0,
    'id': 1114918,
    'known_for_department': 'Editing',
    'name': 'Åsa Mossberg',
    'original_name': 'Åsa Mossberg',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '60fa7d4a310325005da8b715',
    'department': 'Editing',
    'job': 'Editor'},
   {'adult': False,
    'gender': 0,
    'id': 1170697,
    'known_for_department': 'Production',
    'name': 'Jesper Morthorst',
    'original_name': 'Jesper Morthorst',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '613639062cde98002b68e8f3',
    'department': 'Production',
    'job': 'Producer'},
   {'adult': False,
    'gender': 0,
    'id': 1283379,
    'known_for_department': 'Sound',
    'name': 'Peter Albrechtsen',
    'original_name': 'Peter Albrechtsen',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '613639681b7294002aba3d40',
    'department': 'Sound',
    'job': 'Sound'},
   {'adult': False,
    'gender': 2,
    'id': 2271885,
    'known_for_department': 'Camera',
    'name': 'Malte Udsen',
    'original_name': 'Malte Udsen',
    'popularity': 0.608,
    'profile_path': None,
    'credit_id': '61363959e93e950044df27da',
    'department': 'Production',
    'job': 'Executive Producer'},
   {'adult': False,
    'gender': 0,
    'id': 2641099,
    'known_for_department': 'Production',
    'name': 'Lise Orheim Stender',
    'original_name': 'Lise Orheim Stender',
    'popularity': 0.98,
    'profile_path': None,
    'credit_id': '613638fbda9ef2002bd12163',
    'department': 'Production',
    'job': 'Producer'},
   {'adult': False,
    'gender': 1,
    'id': 2866983,
    'known_for_department': 'Creator',
    'name': 'Tea Lindeburg',
    'original_name': 'Tea Lindeburg',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '60fa7d0d99d5c3005fedd5fe',
    'department': 'Directing',
    'job': 'Director'},
   {'adult': False,
    'gender': 1,
    'id': 2866983,
    'known_for_department': 'Creator',
    'name': 'Tea Lindeburg',
    'original_name': 'Tea Lindeburg',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '613639360b73160043066dba',
    'department': 'Production',
    'job': 'Executive Producer'},
   {'adult': False,
    'gender': 1,
    'id': 2866983,
    'known_for_department': 'Creator',
    'name': 'Tea Lindeburg',
    'original_name': 'Tea Lindeburg',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '60fa7d2499d5c300259975ca',
    'department': 'Writing',
    'job': 'Writer'},
   {'adult': False,
    'gender': 0,
    'id': 3224830,
    'known_for_department': 'Art',
    'name': 'Jesper Clausen',
    'original_name': 'Jesper Clausen',
    'popularity': 0.6,
    'profile_path': None,
    'credit_id': '613638e11130bd0065d96f50',
    'department': 'Art',
    'job': 'Production Design'}]}}

In [52]:
#dictionary to contain total number of pages
total_pages = {}
url = f'https://api.themoviedb.org/3/discover/movie?api_key={API_KEY}'

for year in range(1900,1902):
    response = requests.get(f'{url}&primary_release_year={year}')
    movies = response.json()
    pages = movies['total_pages']

    #tmdb api only allows up to 500 pages maximum
    if pages > 501:
        total_pages[year] = 500
    elif pages == 0:
        pass
    else:
        total_pages[year] = pages

    #delay next API request
    time.sleep(5)

#dictionary to contain year and tmdb ids
tmdb_ids = {}

#collect top most popular tmdb ids per year
for year, pages in total_pages.items():
    #create empty list
    tmdb_ids[year] = []

    for page in range(1,pages+1):
        response = requests.get(f'{url}&primary_release_year={year}&page={page}')
        movies = response.json()
        ids = [movie['id'] for movie in movies['results']]
        tmdb_ids[year].extend(ids)

        #delay next page for 5 seconds
        time.sleep(5)

In [11]:
from pathlib import Path

datasets = ['title.basics.tsv.gz',
            # 'title.principals.tsv.gz',
            # 'title.crew.tsv.gz',
            'title.ratings.tsv.gz']

count = 0
for dataset in datasets: 
    count += 1
    filename = dataset.replace('.tsv.gz','')
    path = Path(f"imdb/{filename}_part{count:02}.csv")
    print(path)

imdb/title.basics_part01.csv
imdb/title.ratings_part02.csv